{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true,
    "serviceworker": true,
    "browser": true
  },
  // "globals": {
  //   "browser": true,
  //   "fetch": true,
  //   "serviceworker": true,
  //   "describe": true,
  //   "it": true,
  //   "expect": true,
  //   "document": true
  // },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
